{
    auto_https off
}

http://eighteen-four.lidoo.localhost {
    reverse_proxy lidoo-eighteen-four:8069
}

http://eighteen-two.lidoo.localhost {
    reverse_proxy lidoo-eighteen-two:8069
}

http://eighteen.lidoo.localhost {
    reverse_proxy lidoo-eighteen:8069
}

http://testing-three.lidoo.localhost {
    reverse_proxy lidoo-testing-three:8069
}

http://testing.lidoo.localhost {
    reverse_proxy lidoo-testing:8069
}
